body{
    background-image: url(images/hover0.jpg);
   background-size:cover;
  
}
#design{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
}
#list li{
    display: inline;
}
#list a{
    color: #fff;
    text-decoration: none;
    
}


.nav-bar {
    padding: 10px;
    height: 20px;
    width: 120px;
    margin: 30px;
   position: relative;
    /* border: 2px solid #fff; */
    transition:  all  .5s;
    
}    
 

.nav-bar:hover{
  box-shadow: 0px 2px 8px 2px #fff;

}
#one{
    background-image: url(images/hover1.jpg);
    background-size: 70px 100px;
}